*{
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: beige;
  background-color: grey;
  border: none;
  height: 30px;
  border-radius: 5px;
}

#submit{
  font-family: 'Trebuchet MS';
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  background-color: grey;
  border: none;
  height: 30px;
  border-radius: 5px;
}

#metodos{
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

button{
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: tan;
}

footer{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  text-transform: none;
  text-align: center;
}